@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.main_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px 100px;
  font-family: 'Archivo Black', sans-serif;
  justify-content: start;
  min-height: 100vh;
}
